<%= render partial: 'errors/errors', locals: {model: @design} %>
<%= design_tag(@design.design_url) %>
<h1><%= @design.title %></h1>
<div>
    <p> <%= format_created_at(@design) %></p>
    <p> <%= @design.description %></p>
    <p> Views: <%= @design.views %></p>
    <p> Likes: <%= @design.likes %></p>
    <p> Dislikes: <%= @design.dislikes %></p>
</div>

<%= link_to 'back', designs_path %>
<%= link_to 'Edit', edit_design_path(@design) %>